PORT=8081

## EVOLUTION API
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
EVOLUTION_URL=

## GOOGLE-GEMINI
GEMINI_API_KEY=

## WHATSAPP GROUPS
GROUP_GENERAL="id-geral"
GROUP_MALE="id-masculino"
GROUP_FEMALE="id-feminino"