## INTERN
PORT=8081
ML_EMAIL=
ML_PASSWORD=
AUTOMATION_GROUP=

## EVOLUTION API
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=

## GOOGLE-GMAIL

## DEEPSEEK
DEEPSEEK_API_KEY=sk-
DEEPSEEK_URL=

## SENDFLOW

SENDFLOW_TEST_RELEASE_ID=
SENDFLOW_MAIN_RELEASE_ID=
SENDFLOW_API_KEY=
SENDFLOW_MAIN_USER_ID=
SENDFLOW_API_URL=

## GOOGLE-GEMINI
GEMINI_API_KEY=

## R2
R2_BUCKET=
R2_ACCOUNT_ID=
S3_API=
S3_AUTH_TOKEN=
S3_SECRET_KEY=
S3_ACCESS_KEY=
R2_PUBLIC_URL=