PORT=8081

## EVOLUTION API
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
EVOLUTION_URL=

## GOOGLE VERTEX AI
VERTEX_PROJECT_ID=
VERTEX_LOCATION=us-central1

## WHATSAPP GROUPS
GROUP_GENERAL="id-geral"
GROUP_MALE="id-masculino"
GROUP_FEMALE="id-feminino"